
body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, Sans-Serif, sans-serif;
    background: white;
}

.title {
    padding: 2px;
    text-overflow-ellipsis: overflow;
    overflow: hidden;
    display: block;
}

.select-video {
    height: 500px;
}

.select-video video {
    width: 100%;
    height: 450px;
}

.video-thumbnail {
    display: flex;
    justify-content: space-between;
    //justify-content: space-around;
    overflow: auto;
    overflow-y: hidden;
}

.video-thumbnail video {
    width: 214px;
    height: 317px;
    padding: 1px;
    border: 1px solid grey;
}

#selectedVideo:-webkit-full-screen {
    width: 100%;
    height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

.video-history {
    text-align: left;
}